{{ partial "header.html" . }}
    
    <div class="spinner-overlay">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
    </div>

    <div id="NameField" class="container">
        <div class="pure-u-1 pure-u-md-1-3 name-field">
            <label for="first-name">Enter Name:</label>
            <input id="username" class="pure-u-2"  type="text">
            <a class="pure-button" href="#" id="SetName">Submit</a>
        </div>
    </div>

    <div id="ProfilesTable" class="container" style="display: none;">
        <h3 id="UserWelcome"></h3>
        <table id="TVP-table" class="pure-table tvp-table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Version</th>
                    <th>Accuracy</th>
                    <th>Data Set <button class="tvp-button btn-green" style="height: 1.2em; width: 2.2em;" onclick="fetchStatistics()">Get</button></th>
                </tr>
            </thead>

            <tbody>
                <tr class="odd">
                    <td>
                        <a  onclick="fetchProductRecommendation();" class="tvp-link">
                            Test Product Recommendations
                        </a>
                    </td>
                    <td id="productRecommendationsVersion"></td>
                    <td id="productRecommendationsAccuracy"></td>
                    <td id="productRecommendationsDataSet"></td>
                </tr>
                <tr class="even">
                    <td>
                        <a  onclick="fetchProfileVideos();" class="tvp-link">
                            Test Profile Videos      
                        </a>
                    </td>
                    <td></td>
                    <td id="profileVideosAccuracy"></td>
                    <td id="profileVideosDataSet"></td>
                </tr>
                <tr class="odd">
                    <td>
                        <a  onclick="fetchProfileProducts();" class="tvp-link">
                            Test Profile Products   
                        </a>
                    </td>
                    <td></td>
                    <td id="profileProductsAccuracy"></td>
                    <td id="profileProductsDataSet"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="SelectionView" class="tvp-container-center" style="display: none;">
        <h3 id="VideoTitle" class="tvp-title"></h3>

        <div id="TVPlayerHolder" class="player-holder" >

        </div>
        <div id="TVProductHolder" class="product-holder" >
		<img style="max-height: 480px" />
        </div>

        <div id="VideoProfileView" style="display: none;">
            <h3 class="tvp-title">Matches Video Profile</h3>
            <h2 id="ProfileTitle" class="tvp-profile-title">Active Lifestyle > Sports fans > Soccer enthusiasts</h2>

            <div class="tvp-button-group">
                <button id="FalseMatch" data-dialog="somedialog"  class="tvp-button btn-red">No</button>
                <button id="TrueMatch" class="tvp-button btn-green">Yes</button>
            </div>
        </div>

        <div id="ProductsRecommendationView" class="tvp-container-center" style="display: none;">
            <h3 class="tvp-title">Only Select Matching Products</h3>
            <div class="product-grid">
                <div class="pure-g" id="ProductsGrid">
                </div>
            </div>

            <div class="tvp-button-group">
                <button id="SudmitProducts" class="tvp-button btn-green">Submit</button>
            </div>
        </div>

        <div id="ProfileRecommendationView" class="tvp-container-center" style="display: none;">
            <h3 class="tvp-title">Only Select Matching Profiles</h3>
            <div class="profile-grid">
                <div class="pure-g" id="ProfilesGrid">
                </div>
            </div>

	    <h2>... or Select Correct Profile Match</h2>
	    <select id="selectOtherProfileId" style="width:480px;">
		<option value="">-- Select other profile --</option>
	    </select>

            <div class="tvp-button-group">
                <button id="SudmitProfiles" class="tvp-button btn-green">Submit</button>
                <button id="NextProfiles" class="tvp-button btn-yellow">Skip</button>
            </div>
        </div>
    </div>

    <div id="somedialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <h2>Select Correct Profile Match</h2>
            <select id="correctProfileId" style="width: 240px;"></select>
            <br>
            <div class="close-modal">
                <button class="action" id="modalClose" data-dialog-close style="display: none;"></button>
                <button id="setCorrection">Submit</button>
            </div>
        </div>
    </div>

    {{ partial "scripts.html" . }}



    <script type="text/javascript" src='{{ "js/index-script.js" | relURL }}' ds ></script>

{{ partial "footer.html" . }}
