<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ .Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href='{{ "css/pure.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>

        <link rel="stylesheet" href='{{ "css/normalize.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/dialog.css" | relURL }}'>
        <link rel="stylesheet" href='{{ "css/dialog-sandra.css" | relURL }}'>

        <link rel="stylesheet" href='{{ "css/select2.min.css" | relURL }}'>

    </head>
    <body>
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading tvp-logo" href="">
                <img src='{{ "img/Logo.png" | relURL  }}'>
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected tvp-header-title" id="HeaderTitle">
                    MATCHING ENGINE PRECISION TESTING
                </li>
            </ul>

	<div class="pure-u-1 pure-u-md-1-3 loginId-field">
	    <label for="first-name">Enter LoginId:</label>
	    <input id="loginId" class="pure-u-2"  type="text">
	</div>

        </div>
    </div>
