<script type="text/javascript" src='{{ "js/jquery-3.2.1.min.js" | relURL }}'></script>
<script type="text/javascript" src="//cdnjs.tvpage.com/tvplayer/tvp-3.1.0.min.js" ></script>
<script type="text/javascript" src='{{ "js/modernizr.custom.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "js/classie.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "js/dialogFx.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "js/select2.full.min.js" | relURL }}'></script>