body {
	font-family: 'Open Sans';
	color: #5A5A5A;
}

.header {
	position: relative;
	background-color: #fafafa;
	border-bottom: 1px solid #dddddd;
}

.tvp-logo {
	position: relative;
	padding-left: 0px;
    padding-right: 16px;
}

.tvp-logo::after {
	content: "";
	border-right: 1px solid #E57211;
	top: 15px;
	bottom: 15px;
	position: absolute;
	right: 3px;
}

.tvp-header-title {
	text-transform: uppercase;
    font-size: 44px;
    font-weight: 100;
    color: #5A5A5A;
    padding-bottom: 5px;
    line-height: 89px;
}

.tvp-menu-button {
	float: right;
}
.tvp-menu-button > i {
	font-size: 64px;
	color: #E57211;
	line-height: 89px;
}

.pure-menu-horizontal {
	padding-left: 40px;
	padding-right: 40px;
}

.pure-menu-list {
	padding-left: 5px;
}

footer {
	margin-top: 40px;
  	padding: 1.3rem;
  	background-color: #fafafa;
  	text-align: center;
  	border-top: 1px solid #dddddd;
}

.tvp-footer-content {
	color: #5A5A5A;
	font-size: 12px;
}

.container {
	max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

.tvp-table {
	width: 100%;
	border: none;
}

.tvp-table::before {
	line-height: 0em;
    content: "_";
    color: white;
    display: block;
}

.tvp-table thead {
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.tvp-table thead tr th {
	font-size: 18px;
	font-weight: 400;
	color: #5A5A5A;
	padding: 0.2em 1em;
	border: none;
}

.tvp-table tbody {
	border: 1px solid #dddddd;
}

.tvp-table tbody tr td {
	color: #5A5A5A;
	border: none;
}

.tvp-table tbody tr.odd  {
	background-color: #fafafa;
}

.tvp-link{
	color: #E57211;
	text-decoration: none;
}

.tvp-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.tvp-container-center {
	max-width: 860px;
	margin: auto;
	text-align: center;
}

.tvp-title {
	font-size: 16px;
	font-weight: 400;
}

#VideoTitle, #VideoTitlePR {
	margin-top: 35px;
	margin-bottom: 35px;
}

.tvp-profile-title {
	font-weight: 400;
}

.tvp-button {
	margin-top: 40px;
	border: none;
    width: 140px;
    height: 67px;
    color: #ffffff;
    font-size: 32px;
    opacity: 0.5;
}

.tvp-button:hover {
	opacity: 1;
	cursor: pointer;
}

.tvp-button.btn-red{
	background-color: #EF4135;
	margin-right: 35px;
}

.tvp-button.btn-green{
	background-color: #7ED321;
}

.name-field {
	margin-bottom: 30px;
}

.loginId-field {
	margin-top: 30px;
    margin-left: 60px
}

#UserWelcome {
	font-weight: 300;
}

.product-img-thumb {
	width: 100%;
    height: 149px;
    background-size: cover;
}

.product-img-thumb-wrapper {
	position: relative;
	border: 4px solid #dddddd;
	padding: 4px;
}

.product-img-thumb-wrapper.active {
	cursor: pointer;
	border: 4px solid #7ED321;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.product-img-thumb-wrapper.active::before {
	position: absolute;
	font-family: "Material Icons";
    content: "\E5CA";
    width: 18px;
    height: 18px;
    background-color: #7ed321;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 12px;
    right: 12px
}

.product-img-thumb-wrapper:hover:not(.active) {
	cursor: pointer;
	border: 4px solid #DDDDDD;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.product-title {
	text-align: left;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pure-u-1-4 {
	width: 20%;
}

.pure-u-1-4:not(:last-child) {
	padding-right: 40px;
}

#ProductsGrid {
	padding-left: 35px;
}

.player-holder {
	height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}


.spinner-overlay {
	display: none;
	position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(175, 175, 175, 0.41);
    z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E57211;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#correctProfileId {
	width: 240px;
	margin-bottom: 50px;
}

#selectOtherProfileId {
	width: 100%;
	margin-bottom: 50px;
}

#somedialog {
	z-index: 9999999;
}

.close-modal {
	margin-top: 50px;
}

.select2-container {
	z-index: 99999999;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

